/* ==========================================================================
   Générique
   ========================================================================== */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ==========================================================================
   Base   
    ========================================================================== */

    .wrapper{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }